@use "./variables" as *;
@use "./mixins" as *;

.hamburger {
    position: relative;
}

#numItems {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5;
    text-align: center;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    background-color: $green;
} 

div.plant {
    position: relative;
}

.notification {
    color: $white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.308);
    background-color: #abd373e8;
    padding: 5px;
    line-height: 1.5;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    text-align: center;
}