@use "./variables" as *;
@use "./mixins" as *;

.hamburger {
    position: relative;
}

#numItems {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5;
    text-align: center;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    background-color: $green;
} 