// Variables

// Colors:
$black: #000;
$darkGreen: #475E28;
$darkGrey: #4C4C4C;
$faintBlue: #F6F7FB;
$green: #ABD373;
$grey: #C1C1C1;
$leafGreen: #8BB88E;
$lightGrey: #ECECEC;
$peach: #F8EEE5;
$white: #fff;

// Widths: 
$contentWidth: 1170px;
$oneThird: 370px;
$twoThirds: 770px;
$gap: 30px;

// Breakpoint widths
$desktop: 1200px;
$tablet: 768px;
$mobile: 320px;

// Fonts:
$mainFont: 'Rubik', sans-serif;

// Shadows:
$shadowSize: 1px 3px 9px 0px;
